* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
:root {
  /* Renkler */
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;
  --light-text: #ffffffab;

  /* Oluşumlar(tr ansitions) */
  transition: all 0.5s ease;
  /* Fontlar */
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}
section {
  padding: 70px 20% 60px;
}
.btn {
  display: inline-block;
  color: var(--bg-color);
  background-color: var(--main-color);
  padding: 13px 40px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid var(--text-color);
  transform: translateX(10px);
  color: var(--text-color);
}
header.sticky {
  padding: 8px 17%;
  background-color: transparent;
  backdrop-filter: blur(35px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: var(--transition);
  padding: 27px 17%;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
/* logo alanı */
.logo {
  font-size: 33px;
  color: var(--text-color);
  font-weight: 700;
}
.logo span {
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  margin: 15px 22px;
  transition: var(--transition);
  font-weight: 500;
  font-size: var(--p-font);
}
.navbar a:hover {
  color: var(--main-color);
}
/* Header Sağ Taraf */
.header-right {
  display: flex;
  align-items: center;
}
.header-right a:first-child {
  color: var(--text-color);
  font-size: var(--p-font);
  margin-right: 20px;
}
.header-right a {
  vertical-align: middle;
  color: var(--text-color);
  margin-right: 18px;
  margin-left: 5px;
  transition: var(--transition);
  font-size: 20px;
}
.header-right a:hover {
  color: var(--main-color);
  transform: translateY(-3px);
}
#menu-icon {
  color: var(--text-color);
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
}

/* Home Alanı Başlangıç */
.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url(./images/Background.png);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.home-text h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 6px;
}
.home-text h1 {
  font-size: var(--h1-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: var(--light-text);
  margin-bottom: 35px;
}
/* Features Alanı Başlangıcı */
.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.feature-content h4 {
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}
.feature-content h4:hover {
  color: var(--main-color);
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.row-img {
  margin-bottom: 20px;
}
.row-img img {
  width: 100%;
  display: block;
  transition: transform 0.7s;
}
.row-img img:hover {
  transform: scale(1.2);
}

.row .row-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
}
.holiday {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}
.holiday-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.holiday-text h5 {
  font-size: 22px;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.holiday-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}
.holiday-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--light-text);
  margin-bottom: 35px;
  line-height: 30px;
}
.center-text {
  text-align: center;
}
.center-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
}
.tour-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.box {
  position: relative;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
  transition: all 0.3s cubic-bezier(0.499, 0.05, 0.55, 0.95);
  will-change: filter;
  display: flex;
}
.box h6 {
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 18px;
  font-weight: 500;
}
.box h4 {
  position: absolute;
  left: 25px;
  bottom: 65px;
  font-size: 20px;
  font-weight: 700;
}
.box img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}
.center-btn {
  text-align: center;
  margin-top: 4rem;
}
.culture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}
.culture-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.culture-text h5 {
  font-size: 22px;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.culture-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}
.culture-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--light-text);
  margin-bottom: 35px;
  line-height: 30px;
}

.newsletter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.newsletter-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 15px;
}
.newsletter-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffffab;
}
.newsletter-content form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}
.newsletter-content form input:first-child {
  padding: 15px;
  background: #202020;
  font-size: var(--p-font);
  color: var(--text-color);
  border-radius: 5px;
}
.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   gap: 2rem;
  }
  .footer-box{
  display: flex;
  flex-direction: column;
  }
  .footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: var(--transition);
  }
  .footer-box a:hover{
    transform: translateX(-5px);
    color: var(--text-color);
  }
  .social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
  }
  .social a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
  }
  .copyright p{
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;

  }

@media (max-width: 1700px) {
  header {
    padding: 18px 8%;
  }
  .header.sticky{
    padding: 7px 8%;
  }
  section {
    padding: 50px 8% 40px;
  }
}
@media (max-width: 1200px) {
  header {
    padding: 14px 5%;
  }

  :root {
    --h1-font: 4.6rem;
    --h2-font: 2.8rem;
    --p-font: 15px;
  }
  .home {
    height: 90vh;
  }
  .header.sticky {
    padding: 7px 5%;
  }
  section{
    padding: 45px 5% 35px;
  }
}
@media (max-width: 1050px) {
  .feature-content {
    gap: 1.5rem;
  }
  .holiday {
    gap: 3rem;
  }
  .culture{
    gap: 3rem;
  }
  #menu-icon{
    display: block;
  }
  .navbar {
    position: absolute;
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
    padding: 40px 60px;
    transition: var(--transition);
  }
  .navbar a {
    display: block;
    color: var(--light-text);
    font-size: 2.2rem;
    margin-bottom: 40px;
    padding: 0;
    font-weight: 400;
    
  }
  .navbar.open {
    left: 0;
  }
}
@media (max-width: 800px) {
  .holiday {
    grid-template-columns: 1fr;
  }
  .culture{
    grid-template-columns: 1fr;
  }
  .newsletter-content{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px){
  :root {
    --h1-font: 3.5rem;
    --h2-font: 2.1rem;
  }
  .home{
    height: 85vh;
  }
}
@media (max-width: 600px){
  header {
    padding: 12px 3%;
  }
  .header.sticky{
    padding: 7px 3%;
  }
  section {
    padding: 60px 3% 50px;
  }
}